# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Hardhat artifacts and cache
artifacts/
cache/
typechain/
coverage/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.*.local

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local

# Optional coverage outputs
coverage/

# Other
dist/
build/
.history/